<section class="flex h-screen flex-col justify-center">
  <div class="mx-8 sm:w-1/2">
    <h2 class="text-lg font-medium text-ctp-text sm:text-xl">Hi, my name is</h2>
    <h1 class="mt-4 break-normal text-4xl font-bold text-ctp-text sm:text-6xl">
      Felipe Buencamino.
    </h1>
    <h1 class="mt-4 text-2xl font-medium text-ctp-text sm:text-4xl">
      I'm a full stack developer.
    </h1>
    <p class="mt-4 text-lg text-ctp-text sm:text-xl">
      Specializing in designing, developing, and maintaining high-quality web
      and mobile applications.
    </p>
  </div>
</section>
