<section
  id="about"
  class="flex flex-col justify-center items-center p-8 sm:h-screen"
>
  <div
    class="flex flex-col gap-8 text-ctp-text text-sm lg:text-lg max-w-screen-md sm:text-xl"
  >
    <p>
      As a front-end developer, I specialize in building fast, intuitive web and
      mobile applications with React, React Native, and TypeScript. My focus is
      on creating clean, maintainable code and delivering seamless user
      experiences that feel natural and responsive.
    </p>
    <p>
      Solving complex problems and collaborating with teams to turn ideas into
      real-world applications is what excites me. I’m always exploring new ways
      to improve my development process and enhance the products I build.
      <!-- <p> -->
      <!--   You can check out the tools and technologies I use to make this happen -->
      <!--   <a class="underline text-ctp-blue" href="/tools">here</a>. -->
      <!-- </p> -->
    </p>
    <p>
      Code should not only work but also be a joy to maintain and scale. Every
      project is an opportunity to improve and refine, whether it’s adding a new
      feature or optimizing an existing one.
    </p>
    <p>
      For me, coding is about more than just writing software—it's about
      crafting solutions that have a positive impact on users.
    </p>
  </div>
</section>
