<section
  id="about"
  class="flex flex-col justify-center items-center p-8 sm:h-screen"
>
  <div
    class="flex flex-col gap-8 text-ctp-text text-lg max-w-screen-md sm:text-xl"
  >
    <p>
      I find real satisfaction in building websites and applications from
      scratch. There’s something incredibly rewarding about tackling challenges
      and seeing a project come to life.
    </p>
    <p>
      I’m someone who loves working with others, thinking critically about
      problems, and keeping projects organized. I believe these qualities,
      combined with my ongoing learning in the field, help me turn ideas into
      effective and creative web solutions.
    </p>
    <p>
      At the heart of what I do is a desire to create websites and applications
      that not only look great but are also easy for people to use.
    </p>
    <p>
      I’m genuinely excited about staying up-to-date with the latest trends and
      technologies, always looking for new ways to improve and innovate in my
      work.
    </p>
  </div>
</section>
