---
import Prose from "~/components/Prose.astro";
import Layout from "~/layouts/Layout.astro";
import { Content } from "~/components/about/about.md";
import SEO from "~/components/SEO.astro";
---

<Layout>
  <SEO title="Felipe Buencamino | About" slot="seo" />
  <section
    id="about"
    class="flex flex-col justify-center items-center p-8 sm:h-screen"
  >
    <Prose><Content /></Prose>
  </section>
</Layout>
