---
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Felipe Buencamino">
  <main class="text-ctp-text">
    <h1 class="text-ctp-pink text-4xl font-bold text-center">
      Welcome to <span>Astro</span>
    </h1>
    <Footer />
  </main>
</Layout>
