---
import AboutSection from "../components/AboutSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import Navbar from "../components/Navbar.astro";
import SkillsSection from "../components/SkillsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Felipe Buencamino">
  <main class="text-ctp-text">
    <div class="max-w-6xl mx-auto">
      <Navbar />
      <HeroSection />
      <AboutSection />
      <SkillsSection />
      <ContactSection />
      <Footer />
    </div>
  </main>
</Layout>
