---
import ContactInfo from "./ContactInfo.astro";
---

<section id="contact" class="p-8 flex my-auto items-center justify-center">
  <div class="mx-auto max-w-xl">
    <!-- <ContactForm /> -->
    <ContactInfo />
  </div>
</section>
