---
const currentRoute = new URL(Astro.request.url).pathname;

const activeRoute = (route: string) =>
  currentRoute === route || (route !== "/" && currentRoute.startsWith(route));

const navLinks = [
  { label: "~", href: "/", ariaLabel: "Go to Home section" },
  { label: "about", href: "/about", ariaLabel: "Go to About section" },
  { label: "projects", href: "/projects", ariaLabel: "Go to Projects section" },
  { label: "skills", href: "/skills", ariaLabel: "Go to Skills section" },
  { label: "contact", href: "/contact", ariaLabel: "Go to Contact section" },
];
---

<div class="items-center mt-2 lg:mt-8 flex flex-row gap-2 mx-2 lg:mx-8">
  {
    navLinks.map(({ label, href, ariaLabel }) => (
      <a
        aria-label={ariaLabel}
        href={href}
        class={`px-2 text-sm lg:text-lg ${activeRoute(href) ? "bg-ctp-peach/75 text-gray-900" : "bg-ctp-surface0/75 text-ctp-text"} `}
      >
        {label}
      </a>
    ))
  }
</div>
