---
const currentRoute = new URL(Astro.request.url).pathname;

const activeRoute = (route: string) =>
  currentRoute === route || (route !== "/" && currentRoute.startsWith(route));

const navLinks = [
  { label: "HOME", href: "/", ariaLabel: "Go to Home section" },
  { label: "ABOUT", href: "/about", ariaLabel: "Go to About section" },
  { label: "PROJECTS", href: "/projects", ariaLabel: "Go to Projects section" },
  { label: "SKILLS", href: "/skills", ariaLabel: "Go to Skills section" },
  { label: "CONTACT", href: "/contact", ariaLabel: "Go to Contact section" },
];
---

<div class="py-6 mx-8">
  <nav class="mx-auto h-full max-w-6xl">
    <ul
      class="flex h-full flex-row items-center justify-evenly gap-2 px-4 text-base text-ctp-text sm:justify-end sm:gap-8 sm:text-xl"
    >
      {
        navLinks.map(({ label, href, ariaLabel }) => (
          <li class="transition-all hover:opacity-75">
            <a
              aria-label={ariaLabel}
              href={href}
              class={activeRoute(href) ? "text-ctp-peach" : ""}
            >
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
