<div class="py-6 w-full">
  <nav class="mx-auto h-full max-w-6xl">
    <ul
      class="flex h-full flex-row items-center justify-evenly gap-2 px-4 text-base text-ctp-text sm:justify-end sm:gap-8 sm:text-xl"
    >
      <li class="transition-all hover:opacity-75">
        <a aria-label="Go to About section" href="#about">ABOUT</a>
      </li>
      <li class="transition-all hover:opacity-75">
        <a aria-label="Go to Projects section" href="#projects">PROJECTS</a>
      </li>
      <li class="transition-all hover:opacity-75">
        <a aria-label="Go to Skills section" href="#skills">SKILLS</a>
      </li>
      <li class="transition-all hover:opacity-75">
        <a aria-label="Go to Contact section" href="#contact">CONTACT</a>
      </li>
    </ul>
  </nav>
</div>
