---
import { Icon } from "astro-icon/components";

const skills = [
  {
    name: "HTML5",
    icon: "simple-icons:html5",
  },
  {
    name: "CSS3",
    icon: "simple-icons:css3",
  },
  {
    name: "JAVASCRIPT + ES6",
    icon: "simple-icons:javascript",
  },
  {
    name: "TYPESCRIPT",
    icon: "simple-icons:typescript",
  },
  {
    name: "REACT",
    icon: "simple-icons:react",
  },
  {
    name: "REACT NATIVE",
    icon: "simple-icons:react",
  },
  {
    name: "NEXT JS",
    icon: "simple-icons:nextdotjs",
  },
  {
    name: "REDUX",
    icon: "simple-icons:redux",
  },
  {
    name: "GIT",
    icon: "simple-icons:git",
  },
  {
    name: "FIREBASE",
    icon: "simple-icons:firebase",
  },
  {
    name: "TAILWIND",
    icon: "simple-icons:tailwindcss",
  },
  {
    name: "FIGMA",
    icon: "simple-icons:figma",
  },
  {
    name: "DOCKER",
    icon: "simple-icons:docker",
  },
];
---

<section id="skills" class="pt-16">
  <h2 class="text-center text-2xl sm:text-4xl">SKILLS</h2>
  <div
    class="mt-12 grid grid-cols-2 place-items-center gap-8 sm:grid-cols-3 md:mx-16 md:grid-cols-4"
  >
    {
      skills.slice(0, 12).map((skill) => (
        <div class="flex flex-col items-center gap-2">
          <Icon name={skill.icon} class="w-20 h-20" />
          <p class="text-center font-bold">{skill.name}</p>
        </div>
      ))
    }
  </div>
</section>
