---
import SocialLink from "./SocialLink.astro";

const socialLinks = [
  {
    iconName: "line-md:github",
    href: "https://github.com/felipeantoniob/",
    ariaLabel: "Go to my Github",
  },
  {
    iconName: "line-md:linkedin",
    href: "https://www.linkedin.com/in/felipe-buencamino",
    ariaLabel: "Message me on LinkedIn",
  },
  {
    iconName: "line-md:email",
    href: "mailto:felipebuencamino@gmail.com",
    ariaLabel: "Send me an email",
  },
  {
    iconName: "line-md:text-box",
    href: "https://t.me/felipeantoniob",
    ariaLabel: "Download my resume",
  },
];
---

<footer class="p-4 lg:mx-8 lg:mt-4 flex flex-row justify-between items-center">
  <p class="text-sm font-medium">
    © Designed and Built by Felipe Buencamino, 2024
  </p>
  <div class="flex flex-row gap-4">
    {
      socialLinks.map((link) => (
        <SocialLink
          transition:persist
          iconName={link.iconName}
          href={link.href}
          aria-label={link.ariaLabel}
        />
      ))
    }
  </div>
</footer>
